body {
  background-color: silver;
}

h3 {
  text-align: center;
}

.btn {
background-color: blue;
border-color: silver;
padding: none;
height: 8rem;
width: 18rem;
color: white;
font-family: monospace;
font-weight: 600;
}

.category {
  background-color: darkblue;
  color: white;
  border-color: silver;
  text-align: center;
  vertical-align: center;
  margin: 0;
  height: 6rem;
  width: 18rem;
}

.infoRow {
  margin-top: 1rem;
}
